<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
	<div class="about">
		<h1>About</h1>
		<h2>Introduction</h2>
		<p>This website was built with Flask, a web framework written in Python. The program that actually averages the faces you upload was built in Python as well. But how does it actually do it?</p>
		<p>To begin with, you can upload any number of images that have clearly defined faces in them, such as:</p>
		<img src="{{ url_for('static', filename='images/girl.jpeg')}}" alt="Curie" style="width:45%;height:45%">
		<img src="{{ url_for('static', filename='images/boy.jpeg')}}" alt="Einstein" style="width:45%;height:45%">
		<p>And it will output an average of the two faces, such as:</p>
		<img src="{{ url_for('static', filename='images/average_face.png')}}" alt="Cureinstein" style="width:50%;height:50%">
		<p>The way this happens can be broken down into two separate phases: landmark mapping, and landmark transformation.</p>
		<h2>Landmark Mapping</h2>
		<p>The first phase of the face averaging algorithm is where specific features are mapped within the image. This is accomplished using the Python API of the Dlib software library written in C++. Essentially, what this software library does is allow a user to map 68 different facial landmarks onto an image. For example, given the above image of Marie Curie, the landmarks are:</p>
		<img src="{{ url_for('static', filename='images/face_landmarks.png')}}" alt="Curie Landmarks" style="width:50%;height:50%">
		<p>Dlib uses a pre-trained model in order to first, detect whether or not there are any faces within the image, and second, if there is a face within the image, to find the facial landmarks. The Dlib model is fairly robust, and does well even when the face is partially obstructed, viewed from profile, or when there are multiple faces within the image.</p>
		<img src="{{ url_for('static', filename='images/einstein_tongue_face_landmarks.png')}}" alt="Einstein Tongue Landmarks" style="width:22%;height:22%">
		<img src="{{ url_for('static', filename='images/curie_profile_face_landmarks.png')}}" alt="Curie Landmarks" style="width:22%;height:22%">
		<img src="{{ url_for('static', filename='images/curies_face_landmarks.png')}}" alt="Curies Landmarks" style="width:22%;height:22%">
		<p>However, if the person in the image is too far away, or if the image is very noisy, it sometimes fails to detect a face.</p>
		<img src="{{ url_for('static', filename='images/curie_far.jpg')}}" alt="Curie Far" style="width:50%;height:50%">
		<p>For the purposes of this application, the face should be fairly unobstructed with a neutral expression. You'll see why this is important as we discuss landmark transformation.</p>
		<h2>Landmark Transformation</h2>
		<p>Once the landmarks have been mapped onto the images, the next step is to transform the landmarks so that the images can be averaged.</p>
		<p>The app will calculate an average position of landmarks across all the images, and transform all of the images to a common space. This is helpful because some images are large, and some are small and realistic averaging of the faces requires all the faces to be of the same scale.</p>
		<p>Following the scaling of the images, a Delaunay Triangulation is calculated for each set of landmark coordinates within each image. For more information on Delaunay Triangulation read the Wikipedia page below:</p>
		<a href="https://en.wikipedia.org/wiki/Delaunay_triangulation">Delaunay Triangulation Wikipedia Page</a>
		<p></p>
		<img src="{{ url_for('static', filename='images/curie_triangle.png')}}" alt="Curie Triangle" style="width:50%;height:50%">
		<p>What that does, is allow a specific mapping from one image to the other. All the images will now be composed of a set of triangular regions, and now the app needs to transform all those triangles to the common space. In other words, there will be an equal amount of triangles in each image, and there is a one-to-one mapping of triangles between each image.</p>
		<p>With this triangulation, the problem of finding an average face has been boiled down to finding an optimum transformation between one triangle to another triangle.</p>
		<p>Luckily, OpenCV has functions that allow us to determine that transformation. In this case the transformation will be a specific type of transformation called an affine transformation, which accounts for scale, rotation and translation. To read more about affine transformations read either the Wikipedia page below, or the OpenCV documentation linked below:</p>
		<a href="https://en.wikipedia.org/wiki/Affine_transformation">Affine Transformation Wikipedia Page</a>
		<p></p>
		<a href="https://docs.opencv.org/3.4/d4/d61/tutorial_warp_affine.html">OpenCV Affine Transformation Documentation</a>
		<p></p>
		<img src="{{ url_for('static', filename='images/affine_triangles.jpg')}}" alt="Affine Triangles" style="width:50%;height:50%">
		<p>With the optimal affine transformation calculated using OpenCV, we apply that transformation to each individual triangle in each image in order to map it to the target space triangles. Then, we find average the intensities of each image, and overlay them. The end result is a fairly good representation of an average face!</p>
	</div>
{% endblock %}
</body>
</html>