<!DOCTYPE html>
<html>
<head>
	<title>ACKNOWLEDGEMENTS</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
	<div class="ack">
		<h1>Sources:</h1>
		<a href="https://docs.opencv.org/3.4/d4/d61/tutorial_warp_affine.html">OpenCV Affine Transformation Documentation</a>
		<p></p>
		<a href="https://github.com/spmallick/learnopencv/tree/master/FaceAverage">Delaunay triangulation and other portions of application.</a>
		<p>Portions of averager.py were built off of modifications from portions of code in the above repository. For specific sources see docstrings in individual scripts.</p>
		<a href="http://dlib.net/face_landmark_detection.py.html">Dlib Source Code: Landmark mapping based off of this code.</a>
		<p></p>
		<a href="https://flask-doc.readthedocs.io/en/latest/">Flask Documentation</a>
		<p></p>
		<a href="https://stackoverflow.com">Help with everything else!</a>
	</div>
{% endblock %}
</body>
</html>