<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset=utf-8/>
        <title>Title</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
<div class="execute">
<h1>Images successfully uploaded!</h1>
<p>The images you uploaded are displayed below:</p>
<ul>
    {% for image in images %}
    <img src="static/{{image}}" alt='' style="width:45%;height:45%">
    {% endfor %}
</ul>
<h3>Click the link below to average:</h3>
        <form action="/execute">
            <input type="submit" value="AVERAGE IMAGES!" />
        </form>
</div>
{% endblock %}
</body>