<!DOCTYPE html>
<html>
<head>
	<title>Face Averager</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
	<div class="main">
		<h1>This web app will average faces.</h1>
		<h2>Home</h2>
		<p>You're here.</p>
		<h2>About</h2>
		<p>Here you'll find information about the background and process by which this website can take a set of portraits and output an average of them all.</p>
		<h2>Averager</h2>
		<p>Here you'll find the actual app, clicking averager will redirect you to a page where you'll be asked to upload the images that you wish to average. After submitting them, you'll be prompted to average the images displayed and you'll then be redirected to a page showing your average image!</p>
		<h2>Acknowledgements</h2>
		<p>Lists the sources for the information on this project.</p>
	</div>
{% endblock %}
</body>
</html>
