<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
</head>
<body>
{% extends "layout.html" %}
{% block content %}
	<div class="about">
		<h1>About</h1>
		<p>This website was built with Flask, a web framework written in Python. The program that actually averages the faces you upload was built in Python as well. But how does it actually do it?</p>
		<p>To begin with, you can upload any number of images that have clearly defined faces in them, such as:</p>
		<img src="{{ url_for('./static/images', filename='girl.jpeg')}}">
	</div>
{% endblock %}
</body>
</html>